.logo {
	font-family:"Times New Roman", Times, serif;
	font-size: 3em;
	color: white;
}
#TodaysDate {
	font-weight: bold;
	color: white;
	height: 2.5em;
	line-height: 2.5em;
	padding-right: 1em;
}
/************* table data *******************/
.tableData {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
	background-color: white;
}
.tableData th {
	font-family:Arial;
	font-weight: bold;
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: black;
	background-color: black;
	color: white;
}
.tableData td {
	font-family:Arial;
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: black;
	background-color: white;
}
.tableData tr.even td {
	background-color: #EFF2F9;
}
#content_div {
	background: #DFE5FF;
	border-collapse: collapse;
	border: 1px solid #000;	
}
#banner {
	border-collapse: collapse;
	border: 1px solid #000;	
}
#banner h1 {
	color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;	
	font-size: 40px;
	text-shadow: 5px 5px 5px #000;
}
#menu_div {
	background: #FFFFFF;
	border-collapse: collapse;
	border: 1px solid #000;	
}
.separator {
	background-color: #000000;
}
.menu_link {
	color: #0000FF;
	font-weight:normal;
	text-decoration: underline;	
}
#date_div {
	background-color: #000080;
	color: #D8E3F5;
	border-collapse: collapse;
	border: 1px solid #000;	
	font-family: Arial;
  font-size: 10pt;	
}
#statistics {
    border: 1px solid #000;
 }