$def with (page)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>My Reading List</title>
    <link rel="stylesheet" type="text/css" href="$page.get("reset","css/reset.css")" media="screen" />
		<link rel="stylesheet" type="text/css" href="$page.get("text","css/text.css")" media="screen" />
		<link rel="stylesheet" type="text/css" href="$page.get("grid","css/grid.css")" media="screen" />
		<link rel="stylesheet" type="text/css" href="$page.get("layout","css/layout.css")" media="screen" />
		<link rel="stylesheet" type="text/css" href="$page.get("nav","css/nav.css")" media="screen" />
		<link rel="stylesheet" type="text/css" href="$page.get("design","css/design.css")" media="screen" />
		<!--[if IE 6]><link rel="stylesheet" type="text/css" href="$page.get("ie6","css/ie6.css")" media="screen" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" type="text/css" href="$page.get("ie","css/ie.css")" media="screen" /><![endif]-->
    <script type="text/javascript" src="$page.get("js","js/jquery-1.10.1.min.js")"></script>
</head>
<body>
<div class="container_12">
			<!-- banner spans all 6 center columns in the grid -->
			<div class="grid_3">&nbsp;</div>
			<!-- can't load images in the css, do it inline -->
			<div id="banner" class="grid_6" style="background-image:url('$page.get("background","images/books-background.jpg")')" >
				<h1>My Reading List</h1>
			</div>		
			<div class="grid_3">&nbsp;</div>
			<!-- Dateline: a div with the class clear starts a new row -->
			<div class="clear"></div>
			<div class="grid_3">&nbsp;</div>	
			<div class="grid_6" id="date_div">
				<span id="date">$now.strftime('%A, %B %d, %Y')</span>
			</div>	
			<div class="grid_3">&nbsp;</div>		
			<!-- Menu: a div with the class clear starts a new row -->
			<div class="clear"></div>
			<div class="grid_3">&nbsp;</div>	
			<div class="grid_6" id="menu_div">	
					<ul id="menu">
					    <li class="menu_item"><a href="/" class="menu_link"><img id="home_icon" src="$page.get("home","images/24home.gif")" width="24" height="24" alt="Home"/><span class="link_text">Home</span></a></li>
					    <li class="separator">&nbsp;</li>
					    <li class="menu_item"><a href="/new" class="menu_link"><img id="new_icon" src="$page.get("new","images/24catalog-b-plus.gif")" width="24" height="24" alt="New Book"/><span class="link_text">New Book</span></a></li>
					    <li class="separator">&nbsp;</li>
					    <li class="menu_item"><a href="/searchtitles" class="menu_link"><img id="search_icon" src="$page.get("search","images/24zoom.gif")" width="24" height="24" alt="Search Titles"/><span class="link_text">Search Titles</span></a></li>
					    <li class="separator">&nbsp;</li>
					    <li class="menu_item"><a href="/searchauthors" class="menu_link"><img id="search_icon" src="$page.get("search","images/24zoom.gif")" width="24" height="24" alt="Search Authors"/><span class="link_text">Search Authors</span></a></li>					    	
					</ul>
			</div>	
			<div class="grid_3">&nbsp;</div>			
			<!-- Content: a div with the class clear starts a new row -->
			<div class="clear"></div>
			<div class="grid_3">&nbsp;</div>	
			<div class="grid_6" id="content_div">	
				<div id="content">
				<!-- page content begins here -->				
					$:page
					<!-- page content ends here -->
				</div>	
			</div>	
			<div class="grid_3">&nbsp;</div>
			<!-- Footer" a div with the class clear starts a new row -->
			<div class="clear"></div>
			<div class="grid_3">&nbsp;</div>
			<div class="grid_6" id="footer">
				<p>Copyright &copy; 2014, Williamsport Web Developer</p>
			</div>	
			<div class="grid_3">&nbsp;</div>
</div>
			
</body>
</html>