$def with (books)

<h1>My Reading List</h1>

<div class="box" id="statistics">
  <h2 id="statistics_heading"><img id="statistics_icon" src="images/24image-plus.gif" width="24" height="24" alt="Statistics"/>Statistics</h2>
<div class="block">
$for rc in list(model.get_books_recordcount()):	
	<p>Database Records:&nbsp;$rc.total_books</p> 
</div>
</div>

<ul>
$for book in books:
    <li>
        <a href="/view/$book.id">$book.title</a>
        $book.author  
        <a href="/edit/$book.id">Edit</a>
    </li>
</ul>